body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeecca;
}

header {
  background-color: #526f49;
  color: #eeecca;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #eeecca;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 2rem 0;
}

#contact {
  padding-bottom: 3rem;
  padding-top: 0rem;
}

#projects {
  padding-top: 0rem;
}

#projects .project {
  border: 1px solid #526f49;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: .5rem;
}

#project h3 {
  display: inline-block;
}

#AboutDiv {
  flex: auto;
  flex-direction: column;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 75%;
}

footer {
  background-color: #526f49;
  color: #eeecca;
  text-align: center;
  padding: 0rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
